*.pyc
./cache
/.venv
/.pytest_cache
/node_modules
/env.json
__pycache__

.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

/geoservice/out
/resources/gadm/*.gpkg
/resources/gadm/*.geojson
/resources/gadm/*.gpkg-shm
/resources/gadm/*.gpkg-wal
/resources/gadm2/*.gpkg
/resources/gadm2/*.geojson
/resources/naturalearth/*.gpkg
/resources/naturalearth/*.geojson
/resources/naturalearth/*.gpkg-shm
/resources/naturalearth/*.gpkg-wal
/resources/consulates/*.json
/resources/population/*.parquet
/resources/wahlkreise/*.gpkg
/resources/wahlkreise/*.geojson
/resources/wahlkreise/*.gpkg-shm
/resources/wahlkreise/*.gpkg-wal
/resources/settling/*.tif
/resources/vg/*.gpkg
/resources/vg/*.geojson
/resources/downloads/*
!/resources/downloads/.gitkeep
/resources/metadata/*.json
