{
    "GEOSERVICE_DATABASE_DATABASE": "geoservice",
    "GEOSERVICE_DATABASE_HOST": "localhost",
    "GEOSERVICE_DATABASE_PASSWORD": "geoservice",
    "GEOSERVICE_DATABASE_PORT": "5433",
    "GEOSERVICE_DATABASE_TYPE": "postgres",
    "GEOSERVICE_DATABASE_USER": "geoservice",
    "GEOSERVICE_DATABASE_TLS": "false",
    "GEOSERVICE_DEFAULT_MINIO_ACCESS_KEY": "access_key",
    "GEOSERVICE_DEFAULT_MINIO_SECRET_KEY": "secret_key",
    "GEOSERVICE_DEFAULT_MINIO_SERVER": "minio.example.com:9000",
    "GEOSERVICE_MINIO_USE_TLS": "True",
    "GEOSERVICE_MINIO_S3_ENDPOINT": "https://minio.example.com/",
    "GEOSERVICE_RUNCONFIG_LOGLEVEL": "DEBUG",
    "GEOSERVICE_LOCAL_RUNTIME": "true",
    "GEOSERVICE_ETL_ALLOW_FAILURE": "true",
    "GEOSERVICE_ETL_PULL_MISSING_FILES_FOR_LOCAL_RUNTIME": "true",
    "GEOSERVICE_ETL_REMOTE_SOURCES": "{}",
    "GEOSERVICE_ETL_REMOTE_SOURCES_SECRETS": "{}"
}